*{
  margin: 0;
  padding: 0;
}
.header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), 
  url(https://lh3.googleusercontent.com/proxy/y4a37J0QDnfsanZnftovP4V1Z4O6_TB3bjvuhVeCzYh9TR2-vtIiLUF3ymz9sbe1zDpYV40efXJLzHGcZQNcrDISO_OS7RchLi6yxUla1zFWjtCMz8Ov-qr02HU_SOcK14S2YNBr6tg7kc4a25ZifXJpY_G2fmv-IobR=s0-d);
  height: 80vh;
  background-size: cover;
  background-position: center;
}
h1{
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  padding: 300px;
}
header{
  display: flex;
  justify-content: space-around;
  min-height: 4vh;
  background-color: rgb(165, 192, 191);
  font-family: 'poppins', sans-serif;
}
.menu{
  float: right;
  display: flex;
  list-style: none;
  margin-top: 10px;
}
menu li{
  display: inline-block;
}
.menu li a{
  color: rgb(82, 78, 78);
  text-decoration: none;
  padding: 5px 20px;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.menu li a:hover{
  color: rgb(231, 238, 238);
}
.about{
  background: rgb(171, 190, 206);
}
.about h2{
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
}
.about p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(82, 78, 78);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about table{
  margin-right:auto;
  margin-left:auto;
}
.about table tr td img{
  margin:0;
  padding: 5px 20px;
  transition:transform 0.5s;
}
.about table tr td img:hover{
  transform:scale(1.1);
}
.proje{
background: wheat;
}
.proje h2{
  font-size: 50px;
  text-align: center;
}
.proje table{
  margin-right:auto;
  margin-left:auto;
}
.proje p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  color: rgb(82, 78, 78);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}